.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/encodings.xml
.idea/runConfigurations.xml
.idea/gradle.xml
.idea/misc.xml
Parking.iml
app/app.iml
.idea/modules.xml
.idea/vcs.xml
